@import "../../../sass/variables";

.carousel-indicators {
    button {
        background: $color_L !important;
        height: 2px;
        border: none;
        outline: none;
    }

    button.active {
        background: $brand_gradient !important;
        height: 2px;
        border: none;
        outline: none;
    }
}

@media only screen and (min-width: 1400px) {
    .main-carousel {
        height: 800px;
    }
}
