@import "../../../sass/variables";

.btnSecondary {
    outline: none;
    background: none;
    border: 2px solid;
    border-image: $brand_gradient 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    max-width: 215px;
    background: $brand_gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $text_primary;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    text-align: center;

    &:hover {
        border: 2px solid $bg_color;
        background: $brand_gradient;
        -webkit-text-fill-color: $text_primary;
        color: $text_primary;
        cursor: pointer;
    }
}
