@import "../../../sass/variables";

.customLink {
  text-transform: uppercase;
  background: $brand_gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: $text_primary;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.04em;
  padding-bottom: 6px;
  border-bottom: 1px solid transparent;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;

  &:hover {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid;
    border-image: $brand_gradient 47% 0%;
    //border-image: $brand_gradient;
  }
  &::before {
    display: inline-block;
    content: '';
    background: url("../../../assets/icons/svg/eye-hover.svg") no-repeat center center;
    background-size: 16px;
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
}
