@import "../../../sass/variables";

.detail-game-container {
    p {
        color: $text_two;
    }

    .side-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .left-side {
            max-width: 900px;

            h1, h2 {
                text-align: left;
            }

            h1 {
                margin-bottom: 45px;
            }

            h2 {
                margin-top: 45px;
                margin-bottom: 28px;
            }

            .system-wrapper {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }

        .right-side {
            width: 100%;
            max-width: 350px;
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    .carousel-wrapper {
        margin-top: 80px;

        h2 {
            margin-bottom: 35px;
        }
    }

    .underLine {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 40px;
        margin-bottom: 100px;

        p {
            width: 300px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

@media only screen and (min-width: 480px) {
    .detail-game-container {
        .underLine p {
            margin-bottom: 0;
        }
    }
}
